header markers:
  ;/********
remark markers:
  *
  {
end markers:
  ;********
remark begin markers:
  ;/*
remark end markers:
  */;
options:
  --src ../
  --doc ./output
  --dbxml
  --multidoc
  --no_subdirectories
  --nodesc
  --nogeneratedwith
  --nopre
  --nosort
  --sectionnameonly
accept files:
  CampUtil.psc
  CampTent.psc
  CampTentEx.psc
  _Camp_PlaceableObjectBase.psc
items:
  SCRIPTNAME
  OVERVIEW
  DESCRIPTION
  SYNTAX
  PARAMETERS
  RETURN VALUE
  EXAMPLES
  NOTES
  SEE ALSO
source items:
  SCRIPTNAME
  SYNTAX
  EXAMPLES
item order:
  SCRIPTNAME
  OVERVIEW
  DESCRIPTION
  SYNTAX
  PARAMETERS
  RETURN VALUE
  EXAMPLES
  NOTES
  SEE ALSO
headertypes:
	e 	"Events"	robo_events
  p   "Properties"  robo_properties
  s 	"Script Names"	robo_scriptname