header markers:
  ;/********
remark markers:
  *
  {
end markers:
  ;********
remark begin markers:
  ;/*
remark end markers:
  */;
options:
  --src ../
  --doc ./output
  --dbxml
  --multidoc
  --no_subdirectories
  --nodesc
  --nogeneratedwith
  --nopre
accept files:
  CampUtil.psc
  CampTent.psc
items:
  DESCRIPTION
  SYNTAX
  PARAMETERS
  RETURN VALUE
  EXAMPLES
  NOTES
  SEE ALSO
source items:
  SYNTAX
  EXAMPLES
item order:
  DESCRIPTION
  SYNTAX
  PARAMETERS
  RETURN VALUE
  EXAMPLES
  NOTES
  SEE ALSO
headertypes:
	e 	"Events"	robo_events
  p   "Properties"  robo_properties
keywords:
	if
	endif
	while
	event
	function
	global
	return