#Ignore everything:
*

#Git files:
!.gitignore
!LICENSE
!README.md

#Whitelist directories:
!*/

#Top-level files
!Campfire.esp
!Campfire.esm
!Chesko_Frostfall.esp
!Frostfall.esp
!LastSeed.esp

#Interface
!Interface/frostfall/*
!Interface/Translations/Chesko_Frostfall_*.txt
!Interface/Translations/Campfire*.txt
!Interface/exported/widgets/frostfall/*

#Meshes
!Meshes/campfire/*
!Meshes/frostfall/*

#Readmes
!readmes/Frostfall*.txt
!readmes/Campfire*.txt

#Sound
!sound/fx/frostfall/*

#Scripts
!qf__de_trackingquest_010177d7.pex
!qf__de_trackingquest_010177d7.psc
!_DE_*.pex
!_DE_*.psc
!_Camp*.pex
!_Camp*.psc
!Camp*.pex
!Camp*.psc
!Tent*.pex
!Tent*.psc

#Documentation
!Scripts/Source/doc/*
!Scripts/Source/doc/headers/*
!Scripts/Source/doc/output/*
!campwiki

#Textures
!textures/campfire/*

#Ignore working files
Scripts/Source/_Camp_SkyUIConfigPanelScript - Copy.psc

#Textures
!textures/frostfall/*