#Ignore everything:
*

#Git files:
!.gitignore
!LICENSE
!README.md

#Whitelist directories:
!*/

#Build files
!BuildSingle.bat
!Campfire_BuildRelease.py
!Frostfall_BuildRelease.py
!CampDevKit_BuildRelease.py
!FrostDevKit_BuildRelease.py
!Archive.exe
!CampfireArchiveBuilder.txt
!CampfireArchiveManifest.txt
!FrostfallArchiveBuilder.txt
!FrostfallArchiveManifest.txt
!CampDevKitArchiveManifest.txt
!FrostDevKitArchiveManifest.txt

#Manifest Validation
!manifestcheck.py
!_Camp_ManifestCheck.bat
!_Frost_ManifestCheck.bat
!_Seed_ManifestCheck.bat
!_HN_ManifestCheck.bat

#Top-level files
!Campfire.esp
!Campfire.esm
!Campfire.pub
!Campfire.bsa
!Chesko_Frostfall.esp
!Frostfall.esp
!FrostfallTests.esp
!LastSeed.esp
!HungerInTheNorth.esp
!campfire_steam_splash.jpg

#Backup
!backpacks_old/*
!backpacks_old/meshes/*
!backpacks_old/textures/*

#Installers
!Installers/Campfire/fomod/*
!Installers/Frostfall/fomod/*

#Interface
!Interface/frostfall/*
!Interface/campfire/*
!Interface/lastseed/*
!Interface/Translations/Chesko_Frostfall_*.txt
!Interface/Translations/Frostfall_*.txt
!Interface/Translations/Campfire*.txt
!Interface/exported/widgets/frostfall/*
!Interface/exported/widgets/lastseed/*
!Interface/skyui/*
!Interface/src/*
!Interface/*.swf

#Meshes
!Meshes/campfire/*
!Meshes/frostfall/*
!Meshes/lastseed/*

#Readmes
!readmes/Frostfall*.txt
!readmes/Campfire*.txt
!readmes/LastSeed*.txt
!readmes/CampDevKit*.txt
!readmes/FrostDevKit*.txt

#Sound
!sound/fx/frostfall/*
!sound/fx/lastseed/*

#Scripts
!qf__de_trackingquest_010177d7.pex
!qf__de_trackingquest_010177d7.psc
!QF__Seed_TrackingQuest_0400A69D.pex
!QF__Seed_TrackingQuest_0400A69D.psc
!_DE_*.pex
!_DE_*.psc
!_Camp*.pex
!_Camp*.psc
!Camp*.pex
!Camp*.psc
!SF__Camp*.pex
!SF__Camp*.psc
!Tent*.pex
!Tent*.psc
!_Frost*.pex
!_Frost*.psc
!Frost*.pex
!Frost*.psc
!_Seed*.pex
!_Seed*.psc
!LastSeed*.pex
!LastSeed*.psc
!_HN*.psc
!_HN*.pex

#Brawl Bug Patch Scripts
!BladesSparringScript.pex
!C00TrainerScript.pex
!C00VilkasScript.pex
!CompanionsSingleCombatantScript.pex
!DGIntimidateAliasScript.pex
!DGIntimidatePlayerScript.pex
!MS11CalixtoScript.pex
!BladesSparringScript.psc
!C00TrainerScript.psc
!C00VilkasScript.psc
!CompanionsSingleCombatantScript.psc
!DGIntimidateAliasScript.psc
!DGIntimidatePlayerScript.psc
!MS11CalixtoScript.psc

#PapyrusUtil files
!StorageUtil.dll
!StorageUtil.pex
!StorageUtil.psc
!JsonUtil.pex
!JsonUtil.psc

#CampDevKit Files
!CampDevKit/*

#CampDevTutorial Files
!CampDevTutorials/Tutorial1/*
!CampDevTutorials/Tutorial2/*
!CampDevTutorials/Tutorial3/*
!CampDevTutorials/Tutorial4/*
!CampDevTutorials/Tutorial5/*

#Documentation
!Scripts/Source/doc/*
!Scripts/Source/doc/headers/*
!Scripts/Source/doc/output/*
!campwiki

#Textures
!textures/campfire/*
!textures/frostfall/*
!textures/lastseed/*
!textures/lastseed/PSDs/*
!textures/lastseed/food/*
!textures/lastseed/old_backup/*
!textures/lastseed/old_backup/PSDs/*

#SKSE Data
!SKSE/Plugins/FrostfallData/*

#Working / raw files
!WorkingFiles/*
!WorkingFiles/FLA/*
!WorkingFiles/Images/*
!Skyrim_Eids.csv
!proccessed_forms.txt
!unprocessed_forms.txt
!PSDs/*


#Ignore working files
Scripts/Source/_Camp_SkyUIConfigPanelScript - Copy.psc
Releases/*